# Core
streamlit
fastapi
uvicorn

# Data & Excel
pandas
numpy
openpyxl
tabulate

# OCR & PDFs
pytesseract
paddleocr
pdf2image
opencv-python
Pillow
pi-heif
# pdfminer.six
pdfplumber

# NLP & embeddings
rapidfuzz
sentence-transformers
langchain
langchain-core
langchain-groq
groq
chromadb
faiss-cpu
pydantic

# Environment
python-dotenv

